/* styles/styles.module.css */
.main {
  text-align: center;
  padding: 40px;
  background-color: #f9f9f9;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
}

.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardDetails {
  padding: 20px;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardDescription {
  font-size: 1rem;
  color: #666;
}
